*{
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
}
p{
    font-size: 17px;
    font-weight: 400;
    color:#1EACC7;
    line-height: 21px;
    margin-top: 20px;
}
nav{
 height: 50px;
 background: #212121;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}
.menu .menu_link{
    color: #ffffff;
    font-size: 15px;
    font-weight:300;
    text-decoration: none;
}
.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 28px;
}
.subheader{
    position: absolute;
    width: 100%;
    height: 84px;
    background-color:rgba(0,0,0, .6);
}
.subheader_link{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader_description{
    margin-top: 6px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
}
.subheader_phone{
    display: block;
    margin-top: 8px;
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    line-height: 12px;
}
.subheader_call{
    display: block;
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}
.subheader_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.promo{
    min-height: 800px;
    background: url(../img/background/uber_bg.png) center center/cover no-repeat ;
    padding: 150px 0 135px 0;
}
.promo_header{
    color:#ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin: 0;
}
.promo_h2{
    color:#ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}
.promo_description{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 23px;
}
.promo_btn{
    display: block;
    margin: 118px auto 0 auto;  
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    justify-content: center;
}
.round{
    display:inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:50%;
    background: linear-gradient(0deg, #1EACC7, #1EACC7),
    linear-gradient(0deg, #202020, #202020);
    text-align: center;
    margin-top: 20px;
}
.icons{
    text-align: center;
    margin-top: 10px;
}
.work_with_text{
    padding-top: -20px;
    margin-left: 110px;
    font-size: 12px;
    font-weight: 300;
}
.work_with_h2{
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.preferences{
    display: inline-block;
    margin: 10px auto 20px 47%;
    text-transform: uppercase;
    background-color: #000;
    color: #ffffff;
    width: 115px;
    height: 27px;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}
.col-md-6{
    margin-top: 15px;
}